In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Masked_Data_1.csv")
df = df[df['list price'] > 0]
df = df[df['selling Price'] > 0]
pd.set_option("display.max_columns", None)
df

,SHIP_TO_UCMID,BILL_TO_UCMID,DATE_ORDERED,ORDER_STATUS,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,ORDER_METHOD,Discount%
0,14,3410,24-02-2018 00:00,CLOSED,NL15PQ,NHP,1.0,223.00,148.65,148.65,DCOS OFFLINE,33
1,13080,691,15-08-2018 00:00,CLOSED,VH94LM,SKX,1.0,721.00,558.75,558.75,DCOS OFFLINE,23
2,691,691,31-03-2018 00:00,CLOSED,JO90JP,SKX,28.0,9.00,6.79,190.12,SERVICE SHOP,25
3,1301,29031,14-06-2021 00:00,CLOSED,NT17KZ,CTA,1.0,1509.00,1207.20,1207.20,SERVICE SHOP,20
4,3359,3043,06-07-2020 00:00,CLOSED,CF58XB,LLW,1.0,5.50,5.50,5.50,SERVICE SHOP,0
...,...,...,...,...,...,...,...,...,...,...,...,...
589992,10629,10629,26-03-2021 00:00,CLOSED,HF56QE,EWF,1.0,160.00,160.00,160.00,DCOS OFFLINE,0
589993,236,691,28-02-2019 00:00,CLOSED,TY44FO,CTA,1.0,48.66,35.76,35.76,SERVICE SHOP,27
589994,4521,3043,06-03-2019 00:00,CLOSED,MQ85YT,YQE,1.0,16.42,12.31,12.31,DCOS OFFLINE,25
589995,6215,218,20-05-2021 00:00,CLOSED,KC60SK,NQS,2.0,30.00,30.00,60.00,DCOS OFFLINE,0
589996,11789,2241,14-10-2020 00:00,CLOSED,UY20ML,SKX,1.0,68.30,63.52,63.52,SERVICE SHOP,7

In [2]:
df = df.reset_index(drop=True)
month = []
year = []
for i in range(len(df)):
    month.append(str(df['DATE_ORDERED'][i])[3:5])
    year.append(str(df['DATE_ORDERED'][i])[6:10])
for i in range(len(month)):
    month[i] = int(month[i])
    year[i] = int(year[i])
df['month'] = month
df['year'] = year

In [3]:
df_nov_dec = pd.read_csv("nov_dec_2020.csv")
df_nov_dec

,SHIP_TO_UCMID,BILL_TO_UCMID,DATE_ORDERED,ORDER_STATUS,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,ORDER_METHOD,Discount,Discount%,month,year,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,AVG_DIS_CUS_ORDER_MET
0,2,2295,20-11-2020,CLOSED,JM61GT,YQE,1,1750.00,1312.50,1312.50,DCOS OFFLINE,437.50,25,11,2020,2,12,3389.64,1,1,1,Best,10.50,12.20,2618.04,771.60,25.625
1,2,2295,13-11-2020,CLOSED,AH12NE,NHP,1,147.00,85.20,85.20,DCOS OFFLINE,61.80,42,11,2020,2,12,3389.64,1,1,1,Best,0.00,24.08,2618.04,771.60,25.625
2,2,13232,04-11-2020,CLOSED,AB11VJ,SKX,1,1995.00,70.40,70.40,DCOS OFFLINE,1924.60,96,11,2020,2,12,3389.64,1,1,1,Best,35.00,30.80,2618.04,771.60,25.625
3,2,13232,30-12-2020,CLOSED,HW98UE,SKX,2,88.77,88.77,177.54,DCOS OFFLINE,0.00,0,12,2020,2,12,3389.64,1,1,1,Best,20.00,14.78,2618.04,771.60,25.625
4,2,2,13-11-2020,CLOSED,AH12NE,NHP,1,147.00,85.20,85.20,DCOS OFFLINE,61.80,42,11,2020,2,12,3389.64,1,1,1,Best,17.57,30.30,2618.04,771.60,25.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23551,23759,3410,28-12-2020,CLOSED,YU91FP,YKC,1,1974.00,1283.10,1283.10,SERVICE SHOP,690.90,35,12,2020,4,3,2514.85,1,2,2,Best,35.00,34.08,0.00,2514.85,35.000
23552,23765,23765,28-12-2020,CLOSED,YN53CR,PDM,1,154.49,154.49,154.49,SERVICE SHOP,0.00,0,12,2020,4,1,154.49,1,4,4,Average,33.80,3.50,0.00,154.49,0.000
23553,23768,3410,28-12-2020,CLOSED,KB99MJ,IYN,1,1169.00,759.85,759.85,SERVICE SHOP,409.15,35,12,2020,4,2,1625.12,1,3,2,Good,17.21,15.00,0.00,1625.12,35.000
23554,23768,3410,28-12-2020,CLOSED,XE99LU,IYN,1,1331.19,865.27,865.27,SERVICE SHOP,465.92,35,12,2020,4,2,1625.12,1,3,2,Good,46.40,27.61,0.00,1625.12,35.000
23555,23778,2088,29-12-2020,CLOSED,YN53CR,PDM,1,154.49,99.84,99.84,SERVICE SHOP,54.65,35,12,2020,3,1,99.84,1,4,4,Average,14.14,14.24,0.00,99.84,35.000

In [4]:
df_jan = df.loc[(df.month==1) & (df.year == 2021)]

cus_jan = df_jan.SHIP_TO_UCMID.unique()
cus_nov_dec = df_nov_dec.SHIP_TO_UCMID.unique()

In [5]:
ds1 = pd.DataFrame(columns = ['SHIP_TO_UCMID','BILL_TO_UCMID','self_order','Discount%','DATE_ORDERED','Item Number',
                             'SUB_MODALITY','QUANTITY','list price','selling Price','Total Sale USD','Recency',
                             'Frequency','Monetary','R','F','M','LL','AVG_DIS_CUS','AVG_DIS_ITEM','ORDER_METHOD'
                             ,'AVG_DIS_CUS_ORDER_MET','TOT_SALE_CUS_OFF','TOT_SALE_CUS_ONLINE','month','year'])
ds1

Empty DataFrame
Columns: [SHIP_TO_UCMID, BILL_TO_UCMID, self_order, Discount%, DATE_ORDERED, Item Number, SUB_MODALITY, QUANTITY, list price, selling Price, Total Sale USD, Recency, Frequency, Monetary, R, F, M, LL, AVG_DIS_CUS, AVG_DIS_ITEM, ORDER_METHOD, AVG_DIS_CUS_ORDER_MET, TOT_SALE_CUS_OFF, TOT_SALE_CUS_ONLINE, month, year]
Index: []

In [6]:
for i in range(len(cus_jan)):
    if(cus_jan[i] in cus_nov_dec):
        s = df_jan[df_jan['SHIP_TO_UCMID'] == cus_jan[i]]
        ds1 = ds1.append(s)
        
ds1 = ds1.reset_index(drop = True)
x = []
for i in range(len(ds1)):
    if(ds1['SHIP_TO_UCMID'][i] == ds1['BILL_TO_UCMID'][i]):
        x.append(1)
    else:
        x.append(0)
ds1['self_order'] = x

In [7]:
cus_his = ds1.SHIP_TO_UCMID.unique()
cus_his

array([14, 701, 473, ..., 1645, 23300, 17391], dtype=object)

In [8]:
Rec = {}
Freq = {}
Mon = {}
R = {}
F = {}
M = {}
LL = {}
avg_cus_dis = {}
avg_cus_dis_order = {}
tot_sale_cus_off = {}
tot_sale_cus_on = {}
for i in range(len(cus_his)):
    s = df_nov_dec[df_nov_dec['SHIP_TO_UCMID'] == cus_his[i]]
    Rec[cus_his[i]] = s.Recency.unique()[0]
    Freq[cus_his[i]] = s.Frequency.unique()[0]
    Mon[cus_his[i]] = s.Monetary.unique()[0]
    avg_cus_dis[cus_his[i]] = s.AVG_DIS_CUS.unique()[0]
    R[cus_his[i]] = s.R.unique()[0]
    F[cus_his[i]] = s.F.unique()[0]
    M[cus_his[i]] = s.M.unique()[0]
    LL[cus_his[i]] = s.LL.unique()[0]
    avg_cus_dis_order[cus_his[i]] = s.AVG_DIS_CUS_ORDER_MET.unique()[0]
    tot_sale_cus_off[cus_his[i]] = s.TOT_SALE_CUS_OFF.unique()[0]
    tot_sale_cus_on[cus_his[i]] = s.TOT_SALE_CUS_ONLINE.unique()[0]

In [9]:
for i in range(len(ds1)):
    ds1['Recency'][i] = Rec[ds1.SHIP_TO_UCMID[i]]
    ds1['Frequency'][i] = Freq[ds1.SHIP_TO_UCMID[i]]
    ds1['Monetary'][i] = Mon[ds1.SHIP_TO_UCMID[i]]
    ds1['R'][i] = R[ds1.SHIP_TO_UCMID[i]]
    ds1['F'][i] = F[ds1.SHIP_TO_UCMID[i]]
    ds1['M'][i] = M[ds1.SHIP_TO_UCMID[i]]
    ds1['LL'][i] = LL[ds1.SHIP_TO_UCMID[i]]
    ds1['AVG_DIS_CUS'][i] = avg_cus_dis[ds1.SHIP_TO_UCMID[i]]
    ds1['AVG_DIS_CUS_ORDER_MET'][i] = avg_cus_dis_order[ds1.SHIP_TO_UCMID[i]]
    ds1['TOT_SALE_CUS_OFF'][i] = tot_sale_cus_off[ds1.SHIP_TO_UCMID[i]]
    ds1['TOT_SALE_CUS_ONLINE'][i] = tot_sale_cus_on[ds1.SHIP_TO_UCMID[i]]

<ipython-input-9-ef65de098b85>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Recency'][i] = Rec[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Frequency'][i] = Freq[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Monetary'][i] = Mon[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['R'][i] = R[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['F'][i] = F[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['M'][i] = M[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['LL'][i] = LL[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_CUS'][i] = avg_cus_dis[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_CUS_ORDER_MET'][i] = avg_cus_dis_order[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['TOT_SALE_CUS_OFF'][i] = tot_sale_cus_off[ds1.SHIP_TO_UCMID[i]]
<ipython-input-9-ef65de098b85>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['TOT_SALE_CUS_ONLINE'][i] = tot_sale_cus_on[ds1.SHIP_TO_UCMID[i]]

In [10]:
item_his = ds1['Item Number'].unique()
len(item_his)

3659

In [11]:
item_nov_dec = df_nov_dec['Item Number'].unique()

In [12]:
item = {}
for i in range(len(item_his)):
    if item_his[i] in item_nov_dec:
        s = df_nov_dec[df_nov_dec['Item Number'] == item_his[i]]
        item[item_his[i]] = s.AVG_DIS_ITEM.unique()[0]
    else:
        item[item_his[i]] = 0

In [13]:
for i in range(len(ds1)):
    ds1['AVG_DIS_ITEM'][i] = item[ds1['Item Number'][i]]

<ipython-input-13-0a04138ab62a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_ITEM'][i] = item[ds1['Item Number'][i]]

In [14]:
ds1['Identifier'] = 'January_2021'

In [15]:
ds = pd.read_csv("MAIN_DATASET.csv")
ds

,SHIP_TO_UCMID,BILL_TO_UCMID,self_order,Discount%,DATE_ORDERED,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,ORDER_METHOD,AVG_DIS_CUS_ORDER_MET,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,month,year,ORDER_STATUS,Identifier
0,691,691,1,25,31-03-2018 00:00,JO90JP,SKX,28.0,9.00,6.79,190.12,3.0,260.0,1137755.89,1,1,1,Best,28.10,7.67,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
1,691,691,1,24,30-03-2018 00:00,GU58CE,SKX,20.0,3.15,2.38,47.60,3.0,260.0,1137755.89,1,1,1,Best,28.10,3.33,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
2,691,691,1,24,31-03-2018 00:00,VQ63ZV,SKX,1.0,909.84,686.93,686.93,3.0,260.0,1137755.89,1,1,1,Best,28.10,10.00,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
3,691,691,1,25,30-03-2018 00:00,HZ43LI,SKX,1.0,517.00,390.32,390.32,3.0,260.0,1137755.89,1,1,1,Best,28.10,9.33,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
4,691,691,1,24,31-03-2018 00:00,TC29VU,SKX,3.0,61.20,46.21,138.63,3.0,260.0,1137755.89,1,1,1,Best,28.10,0.00,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412501,3744,3744,1,38,23-12-2020 00:00,EK39SF,YQE,1.0,14900.00,9200.00,9200.00,27.0,7.0,5714.14,3,1,1,Best,44.38,25.00,DCOS OFFLINE,30.000000,0.00,5714.14,12,2020,CLOSED,December_2020
412502,23007,23007,1,73,11-12-2020 00:00,YT38RZ,HXN,1.0,211.00,57.00,57.00,50.0,3.0,372.40,4,2,3,Average,27.00,9.43,DCOS OFFLINE,70.333333,372.40,0.00,12,2020,ENTERED,December_2020
412503,4675,4153,0,5,29-12-2020 00:00,QH48KD,YQE,1.0,850.00,807.50,807.50,36.0,6.0,1348.74,3,1,2,Good,36.25,61.99,SERVICE SHOP,0.000000,198.45,1150.29,12,2020,CLOSED,December_2020
412504,1852,1852,1,34,02-12-2020 00:00,FD78CU,KPK,1.0,46.00,30.40,30.40,3.0,5.0,1697.54,1,2,2,Best,41.46,21.57,DCOS OFFLINE,28.800000,1697.54,0.00,12,2020,CLOSED,December_2020
412505,13556,13556,1,28,17-12-2020 00:00,VV31KZ,KQN,1.0,70.35,50.65,50.65,21.0,1.0,148.00,2,4,4,Average,76.00,13.50,DCOS OFFLINE,20.000000,148.00,0.00,12,2020,CLOSED,December_2020

In [16]:
ds = ds.append(ds1)
ds

,SHIP_TO_UCMID,BILL_TO_UCMID,self_order,Discount%,DATE_ORDERED,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,ORDER_METHOD,AVG_DIS_CUS_ORDER_MET,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,month,year,ORDER_STATUS,Identifier
0,691,691,1,25,31-03-2018 00:00,JO90JP,SKX,28.0,9.00,6.79,190.12,3,260,1.13776e+06,1,1,1,Best,28.1,7.67,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
1,691,691,1,24,30-03-2018 00:00,GU58CE,SKX,20.0,3.15,2.38,47.60,3,260,1.13776e+06,1,1,1,Best,28.1,3.33,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
2,691,691,1,24,31-03-2018 00:00,VQ63ZV,SKX,1.0,909.84,686.93,686.93,3,260,1.13776e+06,1,1,1,Best,28.1,10,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
3,691,691,1,25,30-03-2018 00:00,HZ43LI,SKX,1.0,517.00,390.32,390.32,3,260,1.13776e+06,1,1,1,Best,28.1,9.33,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
4,691,691,1,24,31-03-2018 00:00,TC29VU,SKX,3.0,61.20,46.21,138.63,3,260,1.13776e+06,1,1,1,Best,28.1,0,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12236,5366,5366,1,21,06-01-2021 00:00,ME67YI,KPK,2.0,36.00,28.44,56.88,9,2,56.88,1,3,4,Good,37.92,20.13,DCOS OFFLINE,10.5,0,56.88,1,2021,CLOSED,January_2021
12237,4285,4285,1,32,12-01-2021 00:00,YN53CR,PDM,1.0,154.49,104.86,104.86,52,1,296,4,4,3,Worst,19,15.85,DCOS OFFLINE,26,296,0,1,2021,CLOSED,January_2021
12238,1645,1645,1,73,28-01-2021 00:00,YZ56HM,EWF,1.0,236.00,62.70,62.70,14,3,732.91,2,2,3,Good,5,25.94,SERVICE SHOP,35,555.31,177.6,1,2021,CLOSED,January_2021
12239,23300,2752,0,14,28-01-2021 00:00,HF46MB,UUA,4.0,110.00,95.00,380.00,56,1,190,4,4,4,Worst,31.52,21,DCOS OFFLINE,14,190,0,1,2021,CLOSED,January_2021
12240,17391,9880,0,0,05-01-2021 00:00,JL18MT,YQE,1.0,861.00,861.00,861.00,23,1,103.6,3,4,4,Worst,0,33.4,DCOS OFFLINE,0,103.6,0,1,2021,CLOSED,January_2021

In [17]:
ds.to_csv("MAIN_DATASET.csv",index=False)