In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Masked_Data_1.csv")
df = df[df['list price'] > 0]
df = df[df['selling Price'] > 0]
pd.set_option("display.max_columns", None)
df

,SHIP_TO_UCMID,BILL_TO_UCMID,DATE_ORDERED,ORDER_STATUS,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,ORDER_METHOD,Discount%
0,14,3410,24-02-2018 00:00,CLOSED,NL15PQ,NHP,1.0,223.00,148.65,148.65,DCOS OFFLINE,33
1,13080,691,15-08-2018 00:00,CLOSED,VH94LM,SKX,1.0,721.00,558.75,558.75,DCOS OFFLINE,23
2,691,691,31-03-2018 00:00,CLOSED,JO90JP,SKX,28.0,9.00,6.79,190.12,SERVICE SHOP,25
3,1301,29031,14-06-2021 00:00,CLOSED,NT17KZ,CTA,1.0,1509.00,1207.20,1207.20,SERVICE SHOP,20
4,3359,3043,06-07-2020 00:00,CLOSED,CF58XB,LLW,1.0,5.50,5.50,5.50,SERVICE SHOP,0
...,...,...,...,...,...,...,...,...,...,...,...,...
589992,10629,10629,26-03-2021 00:00,CLOSED,HF56QE,EWF,1.0,160.00,160.00,160.00,DCOS OFFLINE,0
589993,236,691,28-02-2019 00:00,CLOSED,TY44FO,CTA,1.0,48.66,35.76,35.76,SERVICE SHOP,27
589994,4521,3043,06-03-2019 00:00,CLOSED,MQ85YT,YQE,1.0,16.42,12.31,12.31,DCOS OFFLINE,25
589995,6215,218,20-05-2021 00:00,CLOSED,KC60SK,NQS,2.0,30.00,30.00,60.00,DCOS OFFLINE,0
589996,11789,2241,14-10-2020 00:00,CLOSED,UY20ML,SKX,1.0,68.30,63.52,63.52,SERVICE SHOP,7

In [2]:
df = df.reset_index(drop=True)
month = []
year = []
for i in range(len(df)):
    month.append(str(df['DATE_ORDERED'][i])[3:5])
    year.append(str(df['DATE_ORDERED'][i])[6:10])
for i in range(len(month)):
    month[i] = int(month[i])
    year[i] = int(year[i])
df['month'] = month
df['year'] = year

In [9]:
df_mar_apr = pd.read_csv("mar_apr_2019.csv")
df_mar_apr

,SHIP_TO_UCMID,BILL_TO_UCMID,DATE_ORDERED,ORDER_STATUS,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,ORDER_METHOD,Discount,Discount%,month,year,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,AVG_DIS_CUS_ORDER_MET
0,1,1,25-03-2019,CLOSED,HS61HN,SKX,2,50.00,33.66,67.32,DCOS OFFLINE,16.34,33,3,2019,8,2,204.52,2,3,4,Average,28.96,20.50,204.52,0.00,44.500
1,1,1,23-04-2019,CLOSED,KE37CG,LLW,2,155.00,68.60,137.20,DCOS OFFLINE,86.40,56,4,2019,8,2,204.52,2,3,4,Average,0.00,15.92,204.52,0.00,44.500
2,2,2295,12-04-2019,CLOSED,IU67MM,SKX,6,22.00,22.00,132.00,DCOS OFFLINE,0.00,0,4,2019,12,8,2162.13,2,1,2,Best,23.00,24.50,2162.13,0.00,15.375
3,2,13232,08-04-2019,CLOSED,ZS31TU,SKX,1,539.58,539.58,539.58,DCOS OFFLINE,0.00,0,4,2019,12,8,2162.13,2,1,2,Best,19.20,47.70,2162.13,0.00,15.375
4,2,2295,08-04-2019,CLOSED,BS19AG,EWF,3,75.60,75.60,226.80,DCOS OFFLINE,0.00,0,4,2019,12,8,2162.13,2,1,2,Best,34.50,12.82,2162.13,0.00,15.375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26859,16683,16683,30-04-2019,CLOSED,TE30FZ,KPK,1,80.00,64.00,64.00,SERVICE SHOP,16.00,20,4,2019,1,4,464.00,1,2,3,Good,20.08,42.50,0.00,464.00,20.000
26860,16696,691,30-04-2019,CLOSED,NV24JJ,YXC,1,356.00,229.12,229.12,SERVICE SHOP,126.88,36,4,2019,1,1,229.12,1,4,4,Average,0.00,9.00,0.00,229.12,36.000
26861,16700,195,30-04-2019,CLOSED,RY21TW,TML,3,66.00,47.93,143.79,SERVICE SHOP,18.07,27,4,2019,1,1,143.79,1,4,4,Average,18.56,27.89,0.00,143.79,27.000
26862,16701,27001,30-04-2019,CLOSED,LK39NE,NZJ,1,217.88,196.09,196.09,SERVICE SHOP,21.79,10,4,2019,1,1,196.09,1,4,4,Average,31.54,57.32,0.00,196.09,10.000
26863,16703,3410,30-04-2019,CLOSED,NV24JJ,YXC,1,334.00,217.10,217.10,SERVICE SHOP,116.90,35,4,2019,1,1,217.10,1,4,4,Average,35.68,22.52,0.00,217.10,35.000

In [4]:
df_may = df.loc[(df.month==5) & (df.year == 2019)]

cus_may = df_may.SHIP_TO_UCMID.unique()
cus_mar_apr = df_mar_apr.SHIP_TO_UCMID.unique()

In [5]:
ds1 = pd.DataFrame(columns = ['SHIP_TO_UCMID','BILL_TO_UCMID','self_order','Discount%','DATE_ORDERED','Item Number',
                             'SUB_MODALITY','QUANTITY','list price','selling Price','Total Sale USD','Recency',
                             'Frequency','Monetary','R','F','M','LL','AVG_DIS_CUS','AVG_DIS_ITEM','ORDER_METHOD'
                             ,'AVG_DIS_CUS_ORDER_MET','TOT_SALE_CUS_OFF','TOT_SALE_CUS_ONLINE','month','year'])
ds1

Empty DataFrame
Columns: [SHIP_TO_UCMID, BILL_TO_UCMID, self_order, Discount%, DATE_ORDERED, Item Number, SUB_MODALITY, QUANTITY, list price, selling Price, Total Sale USD, Recency, Frequency, Monetary, R, F, M, LL, AVG_DIS_CUS, AVG_DIS_ITEM, ORDER_METHOD, AVG_DIS_CUS_ORDER_MET, TOT_SALE_CUS_OFF, TOT_SALE_CUS_ONLINE, month, year]
Index: []

In [6]:
for i in range(len(cus_may)):
    if(cus_may[i] in cus_mar_apr):
        s = df_may[df_may['SHIP_TO_UCMID'] == cus_may[i]]
        ds1 = ds1.append(s)
        
ds1 = ds1.reset_index(drop = True)
x = []
for i in range(len(ds1)):
    if(ds1['SHIP_TO_UCMID'][i] == ds1['BILL_TO_UCMID'][i]):
        x.append(1)
    else:
        x.append(0)
ds1['self_order'] = x

In [7]:
cus_his = ds1.SHIP_TO_UCMID.unique()
cus_his

array([14, 1580, 3146, ..., 211, 2295, 11120], dtype=object)

In [10]:
Rec = {}
Freq = {}
Mon = {}
R = {}
F = {}
M = {}
LL = {}
avg_cus_dis = {}
avg_cus_dis_order = {}
tot_sale_cus_off = {}
tot_sale_cus_on = {}
for i in range(len(cus_his)):
    s = df_mar_apr[df_mar_apr['SHIP_TO_UCMID'] == cus_his[i]]
    Rec[cus_his[i]] = s.Recency.unique()[0]
    Freq[cus_his[i]] = s.Frequency.unique()[0]
    Mon[cus_his[i]] = s.Monetary.unique()[0]
    avg_cus_dis[cus_his[i]] = s.AVG_DIS_CUS.unique()[0]
    R[cus_his[i]] = s.R.unique()[0]
    F[cus_his[i]] = s.F.unique()[0]
    M[cus_his[i]] = s.M.unique()[0]
    LL[cus_his[i]] = s.LL.unique()[0]
    avg_cus_dis_order[cus_his[i]] = s.AVG_DIS_CUS_ORDER_MET.unique()[0]
    tot_sale_cus_off[cus_his[i]] = s.TOT_SALE_CUS_OFF.unique()[0]
    tot_sale_cus_on[cus_his[i]] = s.TOT_SALE_CUS_ONLINE.unique()[0]

In [11]:
for i in range(len(ds1)):
    ds1['Recency'][i] = Rec[ds1.SHIP_TO_UCMID[i]]
    ds1['Frequency'][i] = Freq[ds1.SHIP_TO_UCMID[i]]
    ds1['Monetary'][i] = Mon[ds1.SHIP_TO_UCMID[i]]
    ds1['R'][i] = R[ds1.SHIP_TO_UCMID[i]]
    ds1['F'][i] = F[ds1.SHIP_TO_UCMID[i]]
    ds1['M'][i] = M[ds1.SHIP_TO_UCMID[i]]
    ds1['LL'][i] = LL[ds1.SHIP_TO_UCMID[i]]
    ds1['AVG_DIS_CUS'][i] = avg_cus_dis[ds1.SHIP_TO_UCMID[i]]
    ds1['AVG_DIS_CUS_ORDER_MET'][i] = avg_cus_dis_order[ds1.SHIP_TO_UCMID[i]]
    ds1['TOT_SALE_CUS_OFF'][i] = tot_sale_cus_off[ds1.SHIP_TO_UCMID[i]]
    ds1['TOT_SALE_CUS_ONLINE'][i] = tot_sale_cus_on[ds1.SHIP_TO_UCMID[i]]

<ipython-input-11-ef65de098b85>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Recency'][i] = Rec[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Frequency'][i] = Freq[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Monetary'][i] = Mon[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['R'][i] = R[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['F'][i] = F[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['M'][i] = M[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['LL'][i] = LL[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_CUS'][i] = avg_cus_dis[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_CUS_ORDER_MET'][i] = avg_cus_dis_order[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['TOT_SALE_CUS_OFF'][i] = tot_sale_cus_off[ds1.SHIP_TO_UCMID[i]]
<ipython-input-11-ef65de098b85>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['TOT_SALE_CUS_ONLINE'][i] = tot_sale_cus_on[ds1.SHIP_TO_UCMID[i]]

In [12]:
item_his = ds1['Item Number'].unique()
len(item_his)

3234

In [13]:
item_mar_apr = df_mar_apr['Item Number'].unique()

In [14]:
item = {}
for i in range(len(item_his)):
    if item_his[i] in item_mar_apr:
        s = df_mar_apr[df_mar_apr['Item Number'] == item_his[i]]
        item[item_his[i]] = s.AVG_DIS_ITEM.unique()[0]
    else:
        item[item_his[i]] = 0

In [15]:
for i in range(len(ds1)):
    ds1['AVG_DIS_ITEM'][i] = item[ds1['Item Number'][i]]

<ipython-input-15-0a04138ab62a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['AVG_DIS_ITEM'][i] = item[ds1['Item Number'][i]]

In [16]:
ds1['Identifier'] = 'May_2019'

In [17]:
ds = pd.read_csv("MAIN_DATASET.csv")
ds

,SHIP_TO_UCMID,BILL_TO_UCMID,self_order,Discount%,DATE_ORDERED,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,ORDER_METHOD,AVG_DIS_CUS_ORDER_MET,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,month,year,ORDER_STATUS,Identifier
0,691,691,1,25,31-03-2018 00:00,JO90JP,SKX,28.0,9.00,6.79,190.12,3.0,260.0,1137755.89,1,1,1,Best,28.10,7.67,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
1,691,691,1,24,30-03-2018 00:00,GU58CE,SKX,20.0,3.15,2.38,47.60,3.0,260.0,1137755.89,1,1,1,Best,28.10,3.33,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
2,691,691,1,24,31-03-2018 00:00,VQ63ZV,SKX,1.0,909.84,686.93,686.93,3.0,260.0,1137755.89,1,1,1,Best,28.10,10.00,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
3,691,691,1,25,30-03-2018 00:00,HZ43LI,SKX,1.0,517.00,390.32,390.32,3.0,260.0,1137755.89,1,1,1,Best,28.10,9.33,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
4,691,691,1,24,31-03-2018 00:00,TC29VU,SKX,3.0,61.20,46.21,138.63,3.0,260.0,1137755.89,1,1,1,Best,28.10,0.00,SERVICE SHOP,41.206897,937038.41,200717.48,3,2018,CLOSED,March_2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182529,2706,12260,0,37,09-04-2019 00:00,TI23CM,NHP,1.0,270.00,170.30,170.30,5.0,12.0,3633.80,1,1,1,Best,39.94,12.00,SERVICE SHOP,1.000000,1415.00,2218.80,4,2019,CLOSED,April_2019
182530,3982,2115,0,0,09-04-2019 00:00,QA68PM,YQE,1.0,330.00,330.00,330.00,12.0,4.0,6729.00,2,2,1,Best,27.03,41.00,DCOS OFFLINE,5.750000,6729.00,0.00,4,2019,CLOSED,April_2019
182531,47,47,1,0,02-04-2019 00:00,EI28FC,SKX,1.0,593.84,593.84,593.84,40.0,1.0,950.00,4,4,2,Average,21.00,16.08,DCOS OFFLINE,0.000000,950.00,0.00,4,2019,CLOSED,April_2019
182532,12178,12178,1,28,10-04-2019 00:00,NG35CE,SKX,1.0,197.00,141.84,141.84,54.0,1.0,153.00,4,4,4,Worst,10.61,8.67,SERVICE SHOP,10.000000,0.00,153.00,4,2019,CLOSED,April_2019
182533,1175,1622,0,40,26-04-2019 00:00,US48LZ,HXN,8.0,194.00,116.40,931.20,10.0,7.0,3321.56,2,1,1,Best,28.07,21.20,DCOS OFFLINE,3.333333,3001.20,320.36,4,2019,CLOSED,April_2019

In [18]:
ds = ds.append(ds1)
ds

,SHIP_TO_UCMID,BILL_TO_UCMID,self_order,Discount%,DATE_ORDERED,Item Number,SUB_MODALITY,QUANTITY,list price,selling Price,Total Sale USD,Recency,Frequency,Monetary,R,F,M,LL,AVG_DIS_CUS,AVG_DIS_ITEM,ORDER_METHOD,AVG_DIS_CUS_ORDER_MET,TOT_SALE_CUS_OFF,TOT_SALE_CUS_ONLINE,month,year,ORDER_STATUS,Identifier
0,691,691,1,25,31-03-2018 00:00,JO90JP,SKX,28.0,9.00,6.79,190.12,3,260,1.13776e+06,1,1,1,Best,28.1,7.67,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
1,691,691,1,24,30-03-2018 00:00,GU58CE,SKX,20.0,3.15,2.38,47.60,3,260,1.13776e+06,1,1,1,Best,28.1,3.33,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
2,691,691,1,24,31-03-2018 00:00,VQ63ZV,SKX,1.0,909.84,686.93,686.93,3,260,1.13776e+06,1,1,1,Best,28.1,10,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
3,691,691,1,25,30-03-2018 00:00,HZ43LI,SKX,1.0,517.00,390.32,390.32,3,260,1.13776e+06,1,1,1,Best,28.1,9.33,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
4,691,691,1,24,31-03-2018 00:00,TC29VU,SKX,3.0,61.20,46.21,138.63,3,260,1.13776e+06,1,1,1,Best,28.1,0,SERVICE SHOP,41.2069,937038,200717,3,2018,CLOSED,March_2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12584,2637,2637,1,34,24-05-2019 00:00,UW16VA,HXN,1.0,80.00,52.80,52.80,20,3,900.54,3,2,2,Good,0,16.92,SERVICE SHOP,36,314.58,585.96,5,2019,CLOSED,May_2019
12585,6765,6765,1,0,21-05-2019 00:00,WN61MB,CTA,3.0,496.58,496.58,1489.74,55,2,748.88,4,3,3,Average,43.29,20.05,DCOS OFFLINE,0,748.88,0,5,2019,CLOSED,May_2019
12586,211,211,1,0,31-05-2019 00:00,MQ85YT,YQE,3.0,16.42,16.45,49.35,16,2,967.8,2,3,2,Good,23,25.5,DCOS OFFLINE,26,967.8,0,5,2019,CLOSED,May_2019
12587,2295,2295,1,0,16-05-2019 00:00,YV11GV,SKX,2.0,636.48,636.48,1272.96,37,2,4878.84,4,3,1,Good,27.57,41.5,DCOS OFFLINE,40,4878.84,0,5,2019,CLOSED,May_2019
12588,11120,6522,0,55,21-05-2019 00:00,AH30XO,YXC,1.0,2472.00,1110.60,1110.60,1,6,7707.04,1,2,1,Best,27.62,21.15,DCOS OFFLINE,27.3333,1948.8,5758.24,5,2019,CLOSED,May_2019

In [19]:
ds.to_csv("MAIN_DATASET.csv",index=False)